<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.ControlePesagemConnectionString"
            connectionString="Data Source=NOTE-LXS;Initial Catalog=ControlePesagem;Persist Security Info=True;User ID=sa;Password=mogi@012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>